@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Roboto:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Gideon Roman', cursive;
}

.section1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    width: 100vw;
    /* height: calc(100vh - 150px); */
    background-color: rgb(239, 228, 228);
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    width: 700px;
    height: 500px;
    margin-top: 50px;
    border-radius: 4px;
    background-color: #fff;
    max-height: 500px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    
}

.left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    width: 50%;
    height: 100%;
    flex-direction: column;
}

.left img{
    /* height: 50%;. */
    width: 270px;
}

.left div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    overflow-x: scroll;
    box-shadow: inset 2px 2px 10px rgb(61, 58, 58);
    padding: 0px 5px;
}

.left div::-webkit-scrollbar{
    display: none;
    width: 0px;
}

.left div img{
    height: 50px;
    width: 50px;
    margin: 10px 10px;
    border: 2px solid #e07f5b;
    border-radius: 3px;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* border: 2px solid black; */
    width: 50%;
    height: 100%;
    padding: 0px 15px;
}

.right h3{
    font-size: 30px;
}

.right p{
    font-size: 14px;
}

.right label{
    margin: 10px 0px;
}

.btn{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    margin: 10px 10px 10px 0px;
}

@media (max-width: 756px) {
    .container1{
        flex-direction: column;
        height: 60%;
        width: 88%;
        padding: 5px 0px;
        max-height: none !important;
    }

    .left{
        width: 90%;
    }

    .left div{
        margin: 10px;
    }

    .left div img{
        height: 40px;
        width: 40px;
        margin: 5px 10px;
    }

    .right{
        width: 90%;
    }

    .right h3{
        font-size: 25px;
    }

    .right p{
        font-size: 10px;
    }
}

@media (max-width: 466px) {
    .container1{
        width: 320px;
    }

    .left{
        width: 90%;
    }

    .left img{
        width: 180px;
    }

    .left div{
        margin: 10px;
    }

    .left div img{
        height: 30px;
        width: 30px;
        margin: 5px 5px;
    }

    .right{
        width: 90%;
    }
}

.description{
    display: flex;
    width: 90vw;
    /* height: 500px; */
    /* border: 2px solid black; */
    margin-top: 50px;
    max-width: 1200px;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 50px;
}

.half_display{
    display: none;
}

@media (max-width: 820px) {
    .half_display{
        display: contents;
        /* margin-bottom: 30px !important; */
    }

    .half_display a{
        text-decoration: none;
    }

    /* .half_display a */

    .display_none{
        display: none;
    }

    .description h5{
        margin-top: 30px;
    }
}