.section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.form{
    width: 500px !important;
    background-color: rgb(120, 153, 153);
}

@media (max-width: 500px) {
    .form{
        width: calc(100% - 20px) !important;
    }
}

.BuyerNavbar{
    display: none !important;
    /* visibility: hidden; */
}